.container {
  font: 13px sans-serif;
  margin: 50px auto;
}

.slot {
  align-items: center;
  background: #fff;
  border: 1px solid #c2c2c2;
  border-radius: 0 0 2px 2px;
  border-top: 0;
  display: flex;
  height: 48px;
  justify-content: center;
  user-select: none;
}
