@import '../../../shared/variables.scss';

$defaultSpacing: 8px;

.cancel {
  color: $darkBlue;
  cursor: pointer;
  margin-right: $defaultSpacing * 2;
  transition: color $transition;

  &:hover {
    color: $darkGray;
    text-decoration: none;
  }
}

.emptyMessage {
  background: #f2f2f2;
  cursor: default;
  font-weight: bold;
  height: 100%;
  line-height: 18px;
  overflow: hidden;
  padding: ($defaultSpacing * 3) 0;
  text-align: center;
}

.fields {
  display: flex;
  flex: 7; // This is to take up 70% of the width
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: $defaultSpacing;
  width: 100%;
}

.item {
  margin: 0 $defaultSpacing;
  max-width: 205px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.itemContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.itemsTitle {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin-bottom: $defaultSpacing;
}

.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: 32px;
  justify-content: center;
  padding: $defaultSpacing;
  transition: background $transition;
  width: 32px;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $darkGray;
    color: $white;
  }
}

.selectedItems {
  border-radius: 2px;
  border: 1px solid $darkGray;
  flex: 3;
  max-width: 248px;
  max-height: 296px;
  overflow-x: hidden;
  overflow-y: auto;

  &.empty {
    overflow: hidden;
  }
}

.subContainer {
  display: flex;
  flex-direction: row;
}

.submitButton {
  background: $darkGray;
  border-radius: 2px;
  border: 0;
  color: white;
  cursor: pointer;
  font: $fontSize $main-font;
  line-height: 16px;
  margin-right: $defaultSpacing;
  padding: $defaultSpacing ($defaultSpacing * 2);
  transition: background $transition;

  &:focus {
    outline: none;
  }

  &:hover {
    background: $xDarkGray;
  }
}

.title {
  display: flex;
  flex-direction: row;
}

input:placeholder-shown {
  font-size: 12px;
}
