.bulkEditorComponent {
  margin: 16px 0;
}

.notifications {
  margin: 16px 0;
}

.toolControls {
  border-bottom: 1px dashed #343739;
  border-top: 1px solid #c3c2c2;
  display: flex;
  line-height: 32px;
  padding: 16px 0 8px 0;
  position: relative;
}

.controlComponent {
  margin-right: 8px;
  width: 128px;
}

.searchComponent {
  margin-right: 8px;
  width: 200px;
}

.filterComponent {
  flex: 1; // ie11
  flex-grow: 1;
}

.exportComponent {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
