.container {
  margin: 50px;
  width: 300px;
  font: 13px sans-serif;
}

.slotBottom {
  align-items: center;
  border-top: 1px solid #939393;
  display: flex;
  height: 48px;
  justify-content: center;
  user-select: none;
}

.titleIcon {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 30px;
}
